<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzer - Lesson</title>

    <script src="https://unpkg.com/wanakana"></script>
    <script defer type="module" src="/javascript/lesson.js"></script>
    <link rel="stylesheet" href="/css/bundle.css">
</head>

<body>
    <script>
        window.lessonGroups = <%- JSON.stringify(lessonGroups) %>;
    </script>

    <div id="lesson-view" class="">
        <% for (let i = 0; i < lessonGroups.length; i++) { %>
        <% const lessons = lessonGroups[i].lessons; %>
        <h2 class="lesson-group-name"><%= lessonGroups[i].name %></h2>
        <% for (let j = 0; j < lessons.length; j++) { %>
        <button class="lesson" onclick='window.startLesson(<%- JSON.stringify(lessonGroups[i].lessons[j]) %>, <%- i %>, <%- j %>)'>
            <h3 class="lesson-name">Lesson <%= j + 1 %></h3>
            <p class="lesson-words"><%= lessons[j].map((x) => x.kanji).join(", ") %></p>
        </button>
        <% } %>
        <% } %>
    </div>

    <div id="main-lesson" class="hidden">
        <p id="lesson-header">Memorize this word...</p>
        <h2 id="lesson-question">ka</h2>
        <h3 id="lesson-small-text">ka</h3>

        <div id="lesson-options" class="lesson-opts hidden">
            <button class="lesson-option" id="lesson-option-1">ka</button>
            <button class="lesson-option" id="lesson-option-2">ka</button>
            <button class="lesson-option" id="lesson-option-3">ka</button>
            <button class="lesson-option" id="lesson-option-4">ka</button>
        </div>

        <div id="lesson-textbox" class="lesson-opts hidden">
            <input type="text" id="lesson-textbox-input" placeholder="Type your answer here">
            <button id="lesson-textbox-submit">Submit</button>
        </div>

        <div id="lesson-memorize" class="lesson-opts hidden">
            <p id="lesson-memorize-meaning">ka</p>
            <button id="lesson-memorize-button">Memorize</button>
        </div>
    </div>
</body>

</html>